.head {
  width: 100%;
  height: 80px;
  color: white;
  background-image: url("./images/images1.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
}

.main {
  width: 100%;
  height: 500px;
  background-image: url("./images/images2.jpg");
}

.search {
  width: 70%;
  margin-left: 15%;
  margin-top: 30px;
  height: 40px;
font-size: x-large;
}
.search-icon{
  display:inline-flex;
}
.search-icon img{
  width: 40px;
  height: 40px;
}
.list-img{
margin: 20px;
padding-top: 20px;
}